*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

nav{
	display:flex;
	justify-content: space-around;
	align-items:center;
	min-height:8vh;
	background-color:#FAF9F9;
	font-family: 'Chakra Petch', sans-serif;
}

.logo{
	color:rgb(6,0,0);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links{
	display: flex;
	justify-content:space-around;
	width:40%;
}

.nav-links li{
	list-style: none;
}
.nav-links a{
	color:rgb(0,0,0);
	text-decoration:none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size:14px;
}

.burger{
	display none;
	curser: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: #060000;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
	.nav-links{
		width:60%;
	}
}
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color:#FAF9F9;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}

}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{

	from{
		opacity: 0;
		transfrom: translateX(50px);

	}
	to{
		opacity: 1;
		transform:translateX(0px);
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
	opacity: 0;
	
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

body{
	margin:0;
	background-color:#FAF9F9;
	color:rgb(0,0,0);
	font-size:16px;
	line-height:1.6;
	font-family: 'Chakra Petch', sans-serif;
}

#showcase{
	background-image:url('/img/pic.jpg');
	background-size:cover;
	background-position:center;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:0 20px;
	border-radius:10px;
	margin-top:20px;
}

#showcase h1{
	font-size:50px;	
	line-height:1.2;
}

#showcase p{
	font-size:20px;
}

#showcase .button{
	font-size:30px;
	text-decoration:none;
	color:#477059;
	/*border:#477059 3px solid;*/
	padding:10px 20px;
	display: flex;
	/*//flex-direction: column;*/
	/*flex-wrap: nowrap;*/
	/*justify-content: flex-start;*/
	align-items: stretch;
	align-content: stretch;
	
}

#showcase .button:hover{
	background:#F9F7F7;
	color:#fff;
}

